@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

@mixin setFontStyle($size, $weight, $height) {
  font-size: $size * 1px;
  font-style: normal;
  font-weight: $weight;
  line-height: $height * 1px;
  letter-spacing: 0px;
}

$white: #fff;
$main-color-text: #21243d;

html {
  background: rgb(34, 137, 226);
  background: linear-gradient(
    277deg,
    rgba(34, 137, 226, 1) 0%,
    rgba(125, 195, 255, 1) 92%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif;
  color: $main-color-text;
}

main {
  display: grid;
  grid-template-rows: 82px 513px 396px 787px 182px;
  width: 1152px;
  margin: 70px auto;
  background-color: $white;
}

main > div {
  padding: 0px 148px;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0px 25px;

  .header__link {
    @include setFontStyle(20, 500, 29);
    text-decoration: none;
    margin-left: 25px;

    &:visited {
      color: #21243d;
    }
  }
}

.about {
  display: flex;
  align-items: flex-start;
  column-gap: 115px;
  margin-top: 128px;

  .about__title {
    @include setFontStyle(44, 700, 60);
  }

  .about__description {
    @include setFontStyle(16, normal, 23);
    margin-top: 40px;
  }

  .about__download {
    @include setFontStyle(20, 500, 29);
    margin-top: 40px;
    background: #ff6464;
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 8px 12px;
    color: $white;
  }

  .about__image {
    width: 243px;
    height: 243px;
    border-radius: 50%;
  }
}

.posts {
  background-color: #edf7fa;

  .posts__intro {
    display: flex;
    justify-content: space-between;
    height: 69px;
    align-items: center;

    .posts__subtitle {
      @include setFontStyle(22, normal, 60);
    }

    .posts__link {
      @include setFontStyle(16, normal, 23);
      color: #00a8cc;
    }
  }

  .posts__grid {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  .post__item {
    height: 295px;
    background: $white;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 20px;
    padding: 23px;

    .post__title {
      @include setFontStyle(26, 700, 38);
    }

    .post__meta {
      @include setFontStyle(18, normal, 26);
    }

    .posts__vertical_row {
      margin: 0 26px;
    }

    .post__excert {
      @include setFontStyle(16, normal, 23);
    }
  }
}

.featured {
  display: grid;
  grid-template-rows: 84px repeat(3, 217px);
  align-items: start;

  .featured__subtitle {
    @include setFontStyle(22, normal, 60);
    align-self: center;
  }

  .featured__card {
    display: flex;
    align-content: center;
    align-items: center;
    column-gap: 20px;
    color: #21243d;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;

    .featured__card__title {
      @include setFontStyle(30, 700, 44);
    }

    .featured__card__year {
      @include setFontStyle(18, 900, 60);
      background: #142850;
      border-radius: 16px;
      color: $white;
      padding: 0px 9px;
      margin-right: 10px;
    }

    .featured__category {
      @include setFontStyle(20, normal, 29);
      color: #8695a4;
    }

    .featured__card__img {
      border-radius: 6px;
    }

    .featured__card__excert {
      @include setFontStyle(16, normal, 23);
    }
  }
}

.footer {
  height: 182px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 26px;
}

.footer__social {
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  column-gap: 35px;
  align-self: self-end;

  .footer__social__icon {
    font-size: 30px;
  }
}
.footer__copyright {
  @include setFontStyle(14, normal, 21);
  align-self: self-start;
  flex: 1 1 100%;
}
