@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  background: #2289e2;
  background: linear-gradient(277deg, #2289e2 0%, #7dc3ff 92%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif;
  color: #21243d;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 82px 513px 396px 787px 182px;
      grid-template-rows: 82px 513px 396px 787px 182px;
  width: 1152px;
  margin: 70px auto;
  background-color: #fff;
}

main > div {
  padding: 0px 148px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0px 25px;
}

.header .header__link {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-decoration: none;
  margin-left: 25px;
}

.header .header__link:visited {
  color: #21243d;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 115px;
          column-gap: 115px;
  margin-top: 128px;
}

.about .about__title {
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0px;
}

.about .about__description {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
  letter-spacing: 0px;
  margin-top: 40px;
}

.about .about__download {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  margin-top: 40px;
  background: #ff6464;
  border-radius: 2px;
  border: none;
  outline: none;
  padding: 8px 12px;
  color: #fff;
}

.about .about__image {
  width: 243px;
  height: 243px;
  border-radius: 50%;
}

.posts {
  background-color: #edf7fa;
}

.posts .posts__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 69px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.posts .posts__intro .posts__subtitle {
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  line-height: 60px;
  letter-spacing: 0px;
}

.posts .posts__intro .posts__link {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
  letter-spacing: 0px;
  color: #00a8cc;
}

.posts .posts__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.posts .post__item {
  height: 295px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  row-gap: 20px;
  padding: 23px;
}

.posts .post__item .post__title {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
}

.posts .post__item .post__meta {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 0px;
}

.posts .post__item .posts__vertical_row {
  margin: 0 26px;
}

.posts .post__item .post__excert {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
  letter-spacing: 0px;
}

.featured {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 84px (217px)[3];
      grid-template-rows: 84px repeat(3, 217px);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.featured .featured__subtitle {
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  line-height: 60px;
  letter-spacing: 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.featured .featured__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  color: #21243d;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.featured .featured__card .featured__card__title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0px;
}

.featured .featured__card .featured__card__year {
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0px;
  background: #142850;
  border-radius: 16px;
  color: #fff;
  padding: 0px 9px;
  margin-right: 10px;
}

.featured .featured__card .featured__category {
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 29px;
  letter-spacing: 0px;
  color: #8695a4;
}

.featured .featured__card .featured__card__img {
  border-radius: 6px;
}

.featured .featured__card .featured__card__excert {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
  letter-spacing: 0px;
}

.footer {
  height: 182px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 26px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-column-gap: 35px;
          column-gap: 35px;
  -ms-flex-item-align: self-end;
      align-self: self-end;
}

.footer__social .footer__social__icon {
  font-size: 30px;
}

.footer__copyright {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  letter-spacing: 0px;
  -ms-flex-item-align: self-start;
      -ms-grid-row-align: self-start;
      align-self: self-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
/*# sourceMappingURL=index.css.map */